/* Globals */
$text_color: rgb(54, 54, 54);
$theme_color: rgb(236, 114, 99);
$body_background_color: rgb(237, 237, 237);
$container_background_color: rgb(255, 255, 255);

$skills_bar_color: rgb(240, 86, 61);
$timeline_box_color: rgb(238, 238, 238);
$interest_badge_color: rgb(167, 82, 101);
